/*****************************************************
* CSS Mockup Activity - Custom CSS Stylesheet
* @author rlewis37
*
* Some rules have been included here to give you a head start.
* Create your own custom CSS rules below. Have fun!
******************************************************/
html, body {
	margin: 0;
	box-sizing: border-box;
}

.container {
	margin: 0 auto;
	padding: 0 2rem;
}

.clearfix {
	clear: both;
}

/* create a responsive container */
@media only screen and (min-width: 1200px) {
	.container { width: 1170px; }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.container { width: 970px; }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.container { width: 750px; }
}

/*****************************************************
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
******************************************************/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}

/*****************************************************
* ADD YOUR OWN CSS BELOW! (ﾉ◕ヮ◕)ﾉ*:･ﾟ✧
*
* HINT: You might want to be conversant with the following:
* * Shorthand syntax for padding, margin, and borders
* * Display property and values... and the differences between them.
* * The Box Model
* * Pseudo Classes
* * Attribute Selectors
******************************************************/

h1, em {
	color: limegreen;
	display: inline-block;
	margin-right: 1em;
}

header {
	width: 100%;
	background-color: black;
	padding: 1em;
}

img[alt*="welcome to my homepage"] {
	display: block;
	margin: 60px auto;
}

/**
 * Instructions
 */
.instructions-wrapper {
	display: flex;
	border: solid .25em #000;
	margin: 1em auto;
}

img[alt*="captain janeway"] {
	flex: auto;
	max-height: 200px;
	max-width: 300px;
	margin: auto;
}

/**
 * about me
 */

.about-me {
	color: #F7FFFF;
	background-color: #0000FF;
	position: relative;
	padding: 3em;
}


img[alt*="captain picard"] {
	float: left;
	display: inline;
	vertical-align: middle;
	background-color: #0000FF;
	max-height: 250px;
	margin-right: 20px;
}


.about-me h2 {
	display: inline;
}

.about-me span {
	color: #FFFF00;
}




/**
 * Table
 */

table {
	table-layout: fixed;
	width: 100%;
}

th, td {
	padding: 1em;
	color: rgb(0, 255, 0);
	border: solid .1rem #fff;
	text-align: left;
	background-color: #444;
}


section:nth-child(4) h2 {
	text-align: right;
}

/*
 * styling the form
 */
.form-wrapper {
	color: #00FF00;
	background-color: #006400;
	padding: 30px;
}

.form-wrapper button {
	color: #000700;
	background-color: #00FF00;
	font-weight: bold;
	border: none;
	margin-top: 1em;
	width: 6.5em;
	height: 2em;
}

.form-wrapper input, label, textarea {
	display: block;
	margin-top: .5em;

}

.form-wrapper input, textarea {
	width: 25%;
}


/**
 * Styling for footer
 */
footer {
	width: 100%;
	background-color: black;
	color: white;
	padding: 1em;
	text-align: center;
}